# aws config
aws_access_key = ""
aws_secret_key = ""

# service config
service_name = ""
env          = ""

# aurora config
aurora_master_username        = ""
aurora_engine_version         = ""
aurora_instance_class         = ""
aurora_cluster_instance_count = 

# fargate config
fargate_min_capacity   = 
fargate_max_capacity   = 
